In [1]:
!pip install census
!pip install us

Requirement already satisfied: census in c:\users\aguha\anaconda3\lib\site-packages (0.8.13)
Requirement already satisfied: requests>=1.1.0 in c:\users\aguha\anaconda3\lib\site-packages (from census) (2.22.0)
Requirement already satisfied: future in c:\users\aguha\anaconda3\lib\site-packages (from census) (0.17.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aguha\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\aguha\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\aguha\anaconda3\lib\site-packages (from requests>=1.1.0->census) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\aguha\anaconda3\lib\site-packages (from requests>=1.1.0->census) (1.24.2)
Requirement already satisfied: us in c:\users\aguha\anaconda3\lib\site-packages (2.0.1)
Requirement already satisfied: jellyfish==0.6.1 in c:\users\aguha\anaconda3\lib\site-packages (from us) (0.6.1)

In [2]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from census import Census

import numpy as np

import requests

In [3]:
# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year=2013)

In [4]:
# File Path
covid_data_file = "COVID-19_Cases__Tests__and_Deaths_by_ZIP_Code.csv"

# Read CSV
covid_data = pd.read_csv(covid_data_file)

# Filter Out Years After 2015
#unemployment_df = unemployment_df[unemployment_df["Year"] <= 2015]

# Show Data
covid_data

,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Weekly,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,...,Test Rate - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Death Rate - Weekly,Death Rate - Cumulative,Population,Row ID,ZIP Code Location
0,60601,26,6/21/2020,6/27/2020,3.0,83.0,20.0,565.6,146,1037,...,7066.4,0.0,0.1,0,6,0.0,40.9,14675,60601-26,POINT (-87.622844 41.886262)
1,60602,26,6/21/2020,6/27/2020,0.0,12.0,0.0,964.6,20,170,...,13665.6,0.0,0.1,0,0,0.0,0.0,1244,60602-26,POINT (-87.628309 41.883136)
2,60603,24,6/7/2020,6/13/2020,0.0,8.0,0.0,681.4,9,87,...,7410.6,0.0,0.1,0,0,0.0,0.0,1174,60603-24,POINT (-87.625473 41.880112)
3,60603,25,6/14/2020,6/20/2020,0.0,8.0,0.0,681.4,13,100,...,8517.9,0.0,0.1,0,0,0.0,0.0,1174,60603-25,POINT (-87.625473 41.880112)
4,60603,26,6/21/2020,6/27/2020,0.0,8.0,0.0,681.4,6,106,...,9029.0,0.0,0.1,0,0,0.0,0.0,1174,60603-26,POINT (-87.625473 41.880112)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,60651,13,3/22/2020,3/28/2020,67.0,82.0,106.0,129.7,149,214,...,338.5,0.4,0.4,0,0,0.0,0.0,63218,60651-13,POINT (-87.741017 41.901964)
999,60639,10,3/1/2020,3/7/2020,NaN,NaN,NaN,NaN,1,1,...,1.1,NaN,NaN,0,0,0.0,0.0,90517,60639-10,POINT (-87.75531 41.920609)
1000,60632,10,3/1/2020,3/7/2020,NaN,NaN,NaN,NaN,1,1,...,1.1,NaN,NaN,0,0,0.0,0.0,91039,60632-10,POINT (-87.711251 41.810038)
1001,60646,14,3/29/2020,4/4/2020,16.0,42.0,57.0,150.1,122,278,...,993.3,0.1,0.2,0,2,0.0,7.1,27987,60646-14,POINT (-87.761826 41.993931)
1002,60660,12,3/15/2020,3/21/2020,12.0,16.0,28.0,37.0,52,63,...,145.7,0.2,0.3,0,0,0.0,0.0,43242,60660-12,POINT (-87.666362 41.991062)

In [5]:
covid_data.index.name ='ID'
covid_data

,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Weekly,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,...,Test Rate - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Death Rate - Weekly,Death Rate - Cumulative,Population,Row ID,ZIP Code Location
ID,,,,,,,,,,,,,,,,,,,,,
0,60601,26,6/21/2020,6/27/2020,3.0,83.0,20.0,565.6,146,1037,...,7066.4,0.0,0.1,0,6,0.0,40.9,14675,60601-26,POINT (-87.622844 41.886262)
1,60602,26,6/21/2020,6/27/2020,0.0,12.0,0.0,964.6,20,170,...,13665.6,0.0,0.1,0,0,0.0,0.0,1244,60602-26,POINT (-87.628309 41.883136)
2,60603,24,6/7/2020,6/13/2020,0.0,8.0,0.0,681.4,9,87,...,7410.6,0.0,0.1,0,0,0.0,0.0,1174,60603-24,POINT (-87.625473 41.880112)
3,60603,25,6/14/2020,6/20/2020,0.0,8.0,0.0,681.4,13,100,...,8517.9,0.0,0.1,0,0,0.0,0.0,1174,60603-25,POINT (-87.625473 41.880112)
4,60603,26,6/21/2020,6/27/2020,0.0,8.0,0.0,681.4,6,106,...,9029.0,0.0,0.1,0,0,0.0,0.0,1174,60603-26,POINT (-87.625473 41.880112)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,60651,13,3/22/2020,3/28/2020,67.0,82.0,106.0,129.7,149,214,...,338.5,0.4,0.4,0,0,0.0,0.0,63218,60651-13,POINT (-87.741017 41.901964)
999,60639,10,3/1/2020,3/7/2020,NaN,NaN,NaN,NaN,1,1,...,1.1,NaN,NaN,0,0,0.0,0.0,90517,60639-10,POINT (-87.75531 41.920609)
1000,60632,10,3/1/2020,3/7/2020,NaN,NaN,NaN,NaN,1,1,...,1.1,NaN,NaN,0,0,0.0,0.0,91039,60632-10,POINT (-87.711251 41.810038)
1001,60646,14,3/29/2020,4/4/2020,16.0,42.0,57.0,150.1,122,278,...,993.3,0.1,0.2,0,2,0.0,7.1,27987,60646-14,POINT (-87.761826 41.993931)
1002,60660,12,3/15/2020,3/21/2020,12.0,16.0,28.0,37.0,52,63,...,145.7,0.2,0.3,0,0,0.0,0.0,43242,60660-12,POINT (-87.666362 41.991062)

In [6]:
# File Path
census_data_file = "census_data.csv"

# Read CSV
census_data = pd.read_csv(census_data_file)

# Show Data
census_data.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,White,Black or African American,Asian,American Indian and Alaska Native,Hawaiian and Other Pacific Islander,Two or More Mixed,Other
0,8518,5217.0,41.5,74286.0,33963.0,170,3.258578,3774.0,755.0,439.0,0,0,101.0,148.0
1,8520,27468.0,37.4,90293.0,37175.0,1834,6.676860,18000.0,1428.0,4117.0,79,17,834.0,2993.0
2,8525,4782.0,47.1,118656.0,59848.0,43,0.899205,4481.0,142.0,108.0,0,0,50.0,1.0
3,8527,54867.0,42.2,88588.0,37021.0,2191,3.993293,48726.0,2807.0,1569.0,23,41,1196.0,505.0
4,8528,245.0,48.5,58676.0,49117.0,0,0.000000,245.0,0.0,0.0,0,0,0.0,0.0

In [7]:
census_data = census_data.rename(columns={"Zipcode": "ZIP Code"})
census_data

,ZIP Code,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,White,Black or African American,Asian,American Indian and Alaska Native,Hawaiian and Other Pacific Islander,Two or More Mixed,Other
0,8518,5217.0,41.5,74286.0,33963.0,170,3.258578,3774.0,755.0,439.0,0,0,101.0,148.0
1,8520,27468.0,37.4,90293.0,37175.0,1834,6.676860,18000.0,1428.0,4117.0,79,17,834.0,2993.0
2,8525,4782.0,47.1,118656.0,59848.0,43,0.899205,4481.0,142.0,108.0,0,0,50.0,1.0
3,8527,54867.0,42.2,88588.0,37021.0,2191,3.993293,48726.0,2807.0,1569.0,23,41,1196.0,505.0
4,8528,245.0,48.5,58676.0,49117.0,0,0.000000,245.0,0.0,0.0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,99923,81.0,64.3,21944.0,17225.0,4,4.938272,81.0,0.0,0.0,0,0,0.0,0.0
33116,99925,668.0,46.4,38125.0,25094.0,124,18.562874,344.0,3.0,4.0,239,0,78.0,0.0
33117,99926,1630.0,31.4,50052.0,22850.0,202,12.392638,100.0,6.0,2.0,1362,3,157.0,0.0
33118,99927,111.0,59.4,19000.0,21157.0,39,35.135135,91.0,0.0,0.0,9,0,0.0,11.0
33119,99929,2341.0,53.1,45649.0,28399.0,215,9.184109,1574.0,3.0,35.0,535,0,192.0,2.0

In [8]:
census_data['ZIP Code']=census_data['ZIP Code'].astype(int)

In [9]:
zipcodes_list=covid_data['ZIP Code']
zipcodes_list=pd.DataFrame(zipcodes_list)
zipcodes_list

      ZIP Code
ID
0        60601
1        60602
2        60603
3        60603
4        60603
...        ...
998      60651
999      60639
1000     60632
1001     60646
1002     60660

[1003 rows x 1 columns]

In [10]:
zipcodes_list['ZIP Code']=pd.to_numeric(zipcodes_list['ZIP Code'], errors='coerce')

In [11]:
# Merge zipcode and census data
census_zipcode_merge_df = census_data.merge(zipcodes_list, how='inner', left_on=["ZIP Code"], right_on=["ZIP Code"] )
census_zipcode_merge_df

,ZIP Code,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,White,Black or African American,Asian,American Indian and Alaska Native,Hawaiian and Other Pacific Islander,Two or More Mixed,Other
0,60601,9732.0,36.6,95556.0,89136.0,1079,11.087135,6491.0,1070.0,1778.0,13,0,218.0,162.0
1,60601,9732.0,36.6,95556.0,89136.0,1079,11.087135,6491.0,1070.0,1778.0,13,0,218.0,162.0
2,60601,9732.0,36.6,95556.0,89136.0,1079,11.087135,6491.0,1070.0,1778.0,13,0,218.0,162.0
3,60601,9732.0,36.6,95556.0,89136.0,1079,11.087135,6491.0,1070.0,1778.0,13,0,218.0,162.0
4,60601,9732.0,36.6,95556.0,89136.0,1079,11.087135,6491.0,1070.0,1778.0,13,0,218.0,162.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,60827,28547.0,31.0,33108.0,16567.0,8775,30.738782,1650.0,26293.0,0.0,16,0,378.0,210.0
982,60827,28547.0,31.0,33108.0,16567.0,8775,30.738782,1650.0,26293.0,0.0,16,0,378.0,210.0
983,60827,28547.0,31.0,33108.0,16567.0,8775,30.738782,1650.0,26293.0,0.0,16,0,378.0,210.0
984,60827,28547.0,31.0,33108.0,16567.0,8775,30.738782,1650.0,26293.0,0.0,16,0,378.0,210.0
985,60827,28547.0,31.0,33108.0,16567.0,8775,30.738782,1650.0,26293.0,0.0,16,0,378.0,210.0

In [12]:
census_zipcode_merge_df.index.name ='ID'
census_zipcode_merge_df

,ZIP Code,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,White,Black or African American,Asian,American Indian and Alaska Native,Hawaiian and Other Pacific Islander,Two or More Mixed,Other
ID,,,,,,,,,,,,,,
0,60601,9732.0,36.6,95556.0,89136.0,1079,11.087135,6491.0,1070.0,1778.0,13,0,218.0,162.0
1,60601,9732.0,36.6,95556.0,89136.0,1079,11.087135,6491.0,1070.0,1778.0,13,0,218.0,162.0
2,60601,9732.0,36.6,95556.0,89136.0,1079,11.087135,6491.0,1070.0,1778.0,13,0,218.0,162.0
3,60601,9732.0,36.6,95556.0,89136.0,1079,11.087135,6491.0,1070.0,1778.0,13,0,218.0,162.0
4,60601,9732.0,36.6,95556.0,89136.0,1079,11.087135,6491.0,1070.0,1778.0,13,0,218.0,162.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,60827,28547.0,31.0,33108.0,16567.0,8775,30.738782,1650.0,26293.0,0.0,16,0,378.0,210.0
982,60827,28547.0,31.0,33108.0,16567.0,8775,30.738782,1650.0,26293.0,0.0,16,0,378.0,210.0
983,60827,28547.0,31.0,33108.0,16567.0,8775,30.738782,1650.0,26293.0,0.0,16,0,378.0,210.0
984,60827,28547.0,31.0,33108.0,16567.0,8775,30.738782,1650.0,26293.0,0.0,16,0,378.0,210.0
985,60827,28547.0,31.0,33108.0,16567.0,8775,30.738782,1650.0,26293.0,0.0,16,0,378.0,210.0

In [28]:
# Set Connection String
connection_string = "postgres:postgres@localhost:5432/covid_db"

# Set Engine
engine = create_engine(f'postgresql://{connection_string}')

In [29]:
# Confirm Tables
engine.table_names()

['covid', 'census']

In [30]:
# Fill Covid Table
covid_data.to_sql(name='covid', con=engine, if_exists='append', index=True)

In [31]:
# Fill Census
census_zipcode_merge_df.to_sql(name='census', con=engine, if_exists='append', index=True)